header {
  background-color: grey;
  padding: 40px 20px 10px 30px;
}

.festival-grid {
  display: flex;
  flex-wrap: wrap;
}

.festival-grid article {
 background-color: white;
 border: 1px solid black; 
}

.festival-grid img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.festival-grid article:hover {
  transform: translateY(-10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

footer {
  background-color: grey;
}

main {
  background-color: grey;
  width: 197%;
  height: 96vh;
}

a, .link {
  text-decoration: none; 
  color: inherit;        
}

li {
  font-size: 15px;
  list-style: none;
  margin-left: -37px;
}

html {
  height: 100%;
  margin: 0
}

input {
  
}