header {
background-color: grey;
padding: 40px 20px 10px 30px;
}

.festival-grid {
  display: flex;
  justify-content: space-around;
}

.festival-grid article {
background-color: white;

}

.festival-grid img {
  max-height: 300px;
}

footer {
  background-color: grey;
}

main {
  background-color: grey;
  width: 197%;
  height: 96vh;
}

a, .link {
  text-decoration: none; 
  color: inherit;        
}

li {
  font-size: large;
}

html {
  height: 100%;
  margin: 0
}