.festival-overview {
  display: flex;
  justify-content: space-evenly; 
  padding: 20px;
}

.festival-image {
  max-width: 50vh; 
  height: auto; 
  margin-right: 20px; 
}

div.text-content {
  width: 66%;
}

div.text-content h2 {
  font-size: 80px;
}

div.text-content li {
  position: relative;
}

h2 {
  font-size: 24px; 
  margin: 0; 
  text-align: center;
}

.festival-artists-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  background-color: grey;
}

.festival-artists-grid > .artist-card {
  flex-basis: calc(25% - 20px); 
  max-width: calc(25% - 20px);   
}

.artist-card {
  border: 1px solid black; 
  background-color: white;
}

.band-image {
  width: auto;
  max-height: 100px;
  max-width: 100%;
}

.artist-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

.festival-users-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  background-color: grey;
}

.festival-users-grid > .user-card {
  flex-basis: calc(16.66% - 20px);
  max-width: calc(16.66% - 20px);
}

.user-card {
  border: 1px solid black; 
  background-color: white;
}

.user-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

section {
  padding-top: 15px;
}
